@use 'src/styles/foundations.scss' as foundation;

.artist-container {
  width: 100svw;
  max-width: 1200px;
  min-width: 300px;
  padding: 2rem;
  margin: 2rem;
}


@media (max-width: 600px) {
  .artist-container {
    padding: 10px;
    margin: 0rem;
  }
}


.artist-header {
  height: 30%;
  min-height: 300px;

  display: flex;
  align-items: end;
  padding: 1rem;
}

.artist-title {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.artist-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.artist-top-tracks {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 12px;
  font-size: foundation.$font-size-base;
  font-weight: foundation.$font-weight-bold;
}

.artist-albums-container {
  padding: 1rem;
}

.artist-albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 12px;
  place-items: center;
  align-items: center;
  justify-content: center;
}