<section class="card artist-container">
  <app-breadcrumb [breadcrumb]="breadcrumb()"></app-breadcrumb>
  <div class="artist-header" [style.backgroundImage]="'url(' + artistCover()!.url + ')'" [style.width]="artistCover()?.width" [style.height]="artistCover()?.height">
    <div class="artist-title-container">
      <p class="artist-name text-xl">{{artist()?.name}}</p>
      @if (artist()?.followers?.total) {
        <p class="artist-followers">{{artist()!.followers!.total | number:'2.0'}} seguidores</p>
      }
    </div>
  </div>
  <div class="artist-genres">
    @for (genre of artist()?.genres; track $index) {
      <app-badge [name]="genre"></app-badge>
    }
  </div>
  <ul class="artist-top-tracks">
    <p class="text-xl font-extrabold">Top Tracks</p>
    @for (track of tracks(); track $index) {
      <app-track-item [track]="track"></app-track-item>
    }
  </ul>
  <div class="artist-albums-container">
    <p class="text-xl font-extrabold">Albums</p>
    @if (albums()) {
    <ul class="artist-albums">
      @for (album of albums()?.items; track $index) {
        <app-album-item [album]="album"></app-album-item>
      }
    </ul>
      <app-paginator [limit]="albums()!.limit" [offset]="albums()!.offset" [total]="albums()!.total" (pageChanged)="onPageChange($event)" />
    } @else {
      <p>Nenhum álbum foi encontrado.</p>
    }
  </div>
</section>