@use 'src/styles/foundations.scss' as foundation;

@mixin button($button-color: foundation.$color-accent) {
  padding: 0.785rem 1rem;
  border: solid 0.5px foundation.$color-base;
  border-radius: foundation.$radius-box;
  background-color: $button-color;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  font-weight: foundation.$font-weight-bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  width: 100%;

  &:hover,
  &:focus {
    background-color: color-mix(in oklab, $button-color 90%, transparent);
  }

  &:disabled {
    background-color: color-mix(in oklab, $button-color 70%, transparent);
  }
}

.button {
  @include button(); 
}

.button-primary {
  @include button(foundation.$color-primary);
}

.button-secondary {
  @include button(foundation.$color-secondary);
  color: foundation.$text-color
}