<div class="search-container">
  <h1 class="text-primary font-base">Busque por seus 
    <span class="font-bold"> artistas, músicas ou albuns preferidos!</span>
  </h1>
  <form [formGroup]="form" (ngSubmit)="triggerSearch.next(null)" class="form">
    <div class="input-search-group">
      <input type="text" class="input" id="search" placeholder='Tente "Arctic Monkeys"' formControlName="search" />
      <button class="button">Buscar</button>
    </div>
    <section class="type-search-group">
      <ng-container *ngFor="let control of typesFormArray.controls; let i = index" formGroupName="types">
        <label [for]="control.value">
          <input
            type="checkbox"
            [id]="control.value"
            [attr.label]="'Buscar por ' + control.value"
            [value]="control.value"
            class="checkbox"
            [formArrayName]="i"
          />
          {{control.value }}
        </label>
      </ng-container>
    </section>
  </form>
</div>
<ng-container *ngIf="(results$ | async) as results">
  <section *ngFor="let entry of results | keyvalue">
  @if (entry.value) {
    <app-list [title]="entry.key" [list]="entry.value!"></app-list>
  } @else {
    <p>Nenhum resultado para {{entry.key}}</p>
  }
  </section>
</ng-container>
