<div class="search-container py-md">
  <h1 class="text-primary font-base">Busque por seus 
    <span class="font-bold"> artistas, músicas ou albuns preferidos!</span>
  </h1>
  <form [formGroup]="form" (ngSubmit)="triggerSearch.next(null)" class="form">
    <div class="input-search-group">
      <app-input type="text" inputId="search" name="search" placeholder='Tente "IDLES"' formControlName="search" />
      <app-button label="Buscar" variant="primary" type="submit" />
    </div>
    @if (form.controls["search"].touched && form.controls['search'].errors) {
      @if (form.controls["search"].getError('required')) {
        <p class="text-error text-sm">Campo de pesquisa não pode estar vazio.</p>
      } @else if (form.controls["search"].getError('minlength')) {
        <p class="text-error text-sm">A pesquisa precisa ser maior que dois caracteres.</p>
      }
    }
    <section class="type-search-group">
      @for (control of typesFormArray.controls; track $index) {
        <ng-container formArrayName="types">
          <label [for]="control.value.type">
            <ng-container [formGroupName]="$index">
              <input
                type="checkbox"
                [id]="control.value.type"
                [attr.label]="'Buscar por ' + control.value.type"
                class="checkbox"
                formControlName="checked"
              />
            </ng-container>
            {{control.value.type }}
          </label>
        </ng-container>
      }
    </section>
  </form>
</div>

@if (searchResult()) {
  <app-result [searchResult]="searchResult()!" (pageChanged)="pageChanged($event)"></app-result>
} @else {
  <div class="no-search-container">
    <p class="font-light">Faça uma pesquisa e o resultado será exibido aqui.</p>
  </div>
}