@use './foundations.scss' as foundation;

.button {
  padding: 0.785rem 1rem;
  border: solid 0.5px foundation.$color-base;
  border-radius: foundation.$radius-box;
  background-color: foundation.$color-accent;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  font-weight: foundation.$font-weight-bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
  }
}