@use './foundations.scss' as foundation;

.button {
  padding: 0.75em 2em;
  border: none;
  border-radius: foundation.$border-radius;
  background-color: foundation.$color-green;
  color: foundation.$color-white;
  font-size: 1rem;
  font-weight: foundation.$font-weight-bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    background-color: lighten(foundation.$color-green, 5%);
    color: foundation.$color-black;
    box-shadow: 0 2px 8px rgba(30,185,84,0.15);
    outline: none;
  }

  &:active {
    background-color: darken(foundation.$color-green, 5%);
  }
}