@use './foundations.scss' as foundation;

.input,
input.input,
input.input-sm,
input.input-lg {
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid foundation.$color-dark-gray;
  border-radius: foundation.$border-radius;
  background: foundation.$color-dark-gray;
  color: foundation.$color-white;
  font-size: foundation.$font-size-base;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border-color: foundation.$color-green;
    outline: none;
    box-shadow: 0 0 0 2px rgba(30,185,84,0.2);
  }

  &::placeholder {
    color: foundation.$color-light-gray;
    opacity: 1;
  }
}

// Tamanhos
input.input-sm {
  padding: 0.5em 0.75em;
  font-size: foundation.$font-size-sm;
}

input.input-lg {
  padding: 1em 1.5em;
  font-size: foundation.$font-size-lg;
}

label {
  font-weight: bold;
  display: block;
}
