@use './foundations.scss' as foundation;

.input,
input.input,
input.input-sm,
input.input-lg {
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid foundation.$color-accent-content;
  border-radius: foundation.$radius-box;
  background-color: foundation.$color-base-100;
  color: foundation.$color-primary-content;
  font-size: foundation.$font-size-base;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: darken(foundation.$color-base-200, 10%);
  }
}

input.input-sm {
  padding: 0.5em 0.75em;
  font-size: foundation.$font-size-sm;
}

input.input-lg {
  padding: 1em 1.5em;
  font-size: foundation.$font-size-lg;
}

label {
  font-weight: bold;
  display: block;
}
