.login-form-container {
  width: 100svw;
  height: 100svh;
  display: grid;
  place-items: center;

  .form {
    width: 40svw;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
}