.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.album-container img {
  transition: transform .2s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.album-name-container {
  height: 3rem;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}